:root {
  --white-color: #ffffff;
  --green-color: #75bc54;
  --black-color: #000000;
  --gray-color: #d9d9d9;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--green-color);
}

.wrapper {
  max-width: 1392px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

/* Button */

.btn {
  border-radius: 35px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

/* fontawesome */

.fa-xmark {
  color: var(--black-color);
}

/* Header */

header {
  background-color: var(--white-color);
  position: absolute;
  height: 134px;
  width: 100%;
  border-radius: 0% 0% 80px 0%;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 1392px;
}

nav .logo img {
  width: 30px;
  height: 60px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.image-group {
  display: flex;
  margin-bottom: 59px;
}

.image-group img {
  align-items: center;
  justify-content: space-between;
}

#carousel-images {
  display: none;
}

.image-text-section {
  padding: 17% 15% 4%;
  background: rgba(43, 104, 14, 0.47);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 142.02%;
  color: var(--black-color);
  height: 100%;
}

/* Map */
#map {
  height: 100%;
}

@media (max-width: 1133px) {
  .wrapper {
    margin-left: 68px;
    margin-right: 68px;
  }
  header {
    height: 84px;
    width: 100%;
  }
}

@media (max-width: 428px) {
  #carousel-images {
    display: block;
  }

  .image-group {
    display: none;
  }
  header {
    height: 74px;
    width: 100%;
  }

  nav .logo img {
    width: 22px;
  }

  .image-text-section {
    padding: 0;
  }

  .btn {
    width: 163px;
    height: 39px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }

  .description-text {
    padding: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 142.02%;
  }

  .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
